h1 {
  margin: 0;
  font-size: 20vw;
}
h2 {
  margin: 0;
  font-size: 10vw;
}
h3 {
  margin: 0;
  font-size: 5vw;
  margin-bottom: 1vw;
}

@media (min-width: 600px) {
  h1 {
    font-size: 10vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3vw;
  }
}

@media (min-width: 795px) {
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 30px;
  }
}

.game {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
}

.header {
  margin-bottom: 3vw;
}

.alert {
  margin-bottom: 1vw;
}
