.card {
  width: 23%;
  margin-bottom: 1vw;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4%;
}

.card:before {
  content: '';
  float: left;
  padding-bottom: 100%;
}

.unmatchedCard {
  color: #008080;
}

.matchedCard {
  visibility: hidden;
}

.image {
  width: 95%;
  border-radius: 20%;
}
